h1{
    font-family: Helvetica, serif;
    font-size:22px;
}

table{
    background-color:#eeeeee;
    border: solid black 1px;
    border-radius: 6px;
    box-shadow: #cccccc 2px 2px 2px;
}

tr{
    height: 30px;
}

.output{
    font-weight: bold;
}